body {
    background-color: #fafafa;
}
body * {
    font-family: var(--font-family);
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 18px 0;
    background: transparent;
}
.header__link {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #181818;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    width: 120px;
}
.header__nav {
    display: flex;
    justify-content: center;
}
.header__menu {
    display: flex;
    gap: 20px;
}
.header__regis {
    display: flex;
    align-items: center;
    gap: 20px
}
.header__reg {
    font-weight: 500;
    font-size: 14px;
    color: #151515;
}
.header__sign {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    color: #fff;
    border-radius: 5px;
    width: 93px;
    height: 31px;
    background: #656293;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO */

.hero {
    position: relative;
    padding: 120px 0 200px;
    background-image: url(../media/bg-air-big.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.hero__content {
    max-width: 587px;
}
.hero__image img {
    display: block;
    max-width: 100%;
    height: auto;
}
.hero__title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 66px;
    text-transform: capitalize;
    color: #151515;
    line-height: 1.1;
}
.hero__title span {
    font-weight: 600;
    text-transform: uppercase;
    color: #656293;
   
}
.hero__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #151515;
    gap: 10px;
}
.hero__link::after {
    content: "→";
    font-size: 18px;
    transition: .2s;
}
.hero__link:hover {
    color: #151515;
}
.hero__link:hover::after {
    transform: translateX(4px);
}

/* BOOKING */

.book {
    margin-top: -150px;
}
.book__container {
    max-width: 1110px;
    margin: 0 auto;
}
.book__form {
    position: relative;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    /* height: 266px; */
    box-shadow: 0 1px 3px 0 rgba(19, 10, 46, 0.13), 0 3px 14px 0 rgba(19, 10, 46, 0.03), 0 8px 32px 0 rgba(19, 10, 46, 0.07), 0 30px 84px 0 rgba(19, 10, 46, 0.08);
    background: #fff;
    padding: 40px;
}
.book__row {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 25px;
    /* margin-bottom: 30px; */
    /* padding: 24px; */
}
.book__top {
    display: flex;
    align-items: center;
    width: 360px;
    gap: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #151515;
}
.book__top__item {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.book__top__item span {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #151515;
}
.book__top__item img {
    width: 24px;
    height: 24px;
}
.book__swap {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 18px;
    border-radius: 100%;
    fill: #fff;
    stroke-width: 0.47px;
    stroke: #aaa;
}
.book__square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    height: 117px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 20px;
}
.book__square.book__dates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 381px;
}
.book__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 140px;
    /* height: 86px; */
}
.book__label {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(21, 21, 21, 0.6);
}
.book__code {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: #151515;
}
.book__value {
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
    color: #151515;
    white-space: nowrap;
}
.book__airport {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(21, 21, 21, 0.6);
}
.book__value__row {
    display: flex;
    align-items: center;
    gap: 6px;
}
.book__calendar {
    width: 18px;
    height: 18px;
}
.book__nav {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}
.book__link {
    font-weight: 500;
    font-size: 14px;
    color: rgba(21, 21, 21, 0.6);
    cursor: pointer;
}
.book__link:hover {
    color: #000;
}
.book__add {
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #151515;
    margin-top: 20px;
}
.book__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 80px;
    border-radius: 10px;
    background: #656293;
    color: #fff;
}

/* CHARTER SERVICES */

.charter__services {
    padding-top: 100px;
}
.charter__services h2 {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-bottom: 131px;
}
.charter__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 120px;
}
.charter__item:first-of-type::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 523px;
    background: #e5f4f6;
    border-radius: 0 50px 50px 0;
    left: -150px;
    z-index: -1;
}
.charter__item:last-of-type::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 523px;
    background: #e5f4f6;
    border-radius: 50px 0 0 50px;
    right: -150px;
    z-index: -1;
}
.charter__img {
   position: relative;
}
.charter__img img {
    width: 589px;
    border-radius: 20px;
}
.charter__content {
    width: 463px;
    height: 245px;
}
.charter__content h3 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
    letter-spacing: 0.3px;
    margin-bottom: 18px;
}
.charter__content p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: justify;
    color: rgba(21, 21, 21, 0.6);
    margin: 0;
}

/* AIR SERVICE */

.air__service {
    padding-top: 80px;
}
.air__service h2 {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-bottom: 60px;
}
.air__service__cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: flex-start; */
    gap: 60px;
}
.card_left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.card_right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.air__service__card {
    max-width: 370px;
    padding: 40px;
    /* padding: 52px 52px 51px; */
    /* height: 268px; */
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgba(19, 10, 46, 0.13), 0 3px 14px 0 rgba(19, 10, 46, 0.03), 0 8px 32px 0 rgba(19, 10, 46, 0.07), 0 30px 84px 0 rgba(19, 10, 46, 0.08);
    background: #fff;
    margin-bottom: 30px;
    text-align: center;
}
.air__service__card-pl {
    /* border-radius: 20px; */
    display: block;
    max-width: 400px;
    height: auto;
}
.logo-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 30px 0; */
    margin: 0 auto;
    gap: 12px;
}
.air__service__card h3 {
    font-weight: 500;
    font-size: 18px;
    color: #151515;
    margin-top: 10px;
    margin-bottom: 10px;
}
.air__service__card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(21, 21, 21, 0.6);
    margin: 0;
    
}
.air__service__card-pl {
    margin: auto 30px;
    
}

/* LUXURY CHARTERS */

.luxury__charters {
    padding-top: 66px;
}
.luxury__charters h2 {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-bottom: 69px;
}
.luxury__charters__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 31px;
}
.luxury__charters__card {
    max-width: 255px;
    /* height: 251px; */
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgba(19, 10, 46, 0.13), 0 3px 14px 0 rgba(19, 10, 46, 0.03), 0 8px 32px 0 rgba(19, 10, 46, 0.07), 0 30px 84px 0 rgba(19, 10, 46, 0.08);
    background: #fff;
    transition: .3s;
}
.luxury__charters__card:hover {
    transform: scale(1.2);
}
.luxury__charters__card img {
    margin: 12px;
}
.luxury__charters__card p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #151515;
}

/* SUBSCRIPTION */

.subscription {
    padding-top: 80px;
}
.subscription h2 {
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin-bottom: 105px;
}
.subscription__row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.subscription__card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 40px;
    border-radius: 12px;
    background: #f5f5f5;
    transition: .3s;
}
.subscription__card:hover {
    background: #656293;
    transform: translateY(-7px);
}
.subscription__card button {
    border-radius: 12px;
    /* width: 352px; */
    width: 100%;
    height: 64px;
    background: #656293;
    font-weight: 600;
    font-size: 22px;
    line-height: 182%;
    text-align: center;
    color: #fff;
}
.subscription__card:hover button {
    background: #fff;
    color: #151515;
}
.subs_btn {
    margin-top: auto;
}    
.subs_title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #151515;
    margin-bottom: 32px;
}
.subscription__card:hover .subs_title {
    color: #fff;
}
.subs_desc {
    font-weight: 400;
    font-size: 22px;
    color: #a9a9aa;
    margin-bottom: 12px;
}
.subs_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    color: #151515;
    margin-bottom: 18px;
}
.subs_list li {
    position: relative;
    padding-left: 28px;
}
.subs_list li::before {
    content: "✔";
    position: absolute;
    left: 0;
    top: 0;
    color: #656293;
    font-size: 14px;
}
.subscription__card:hover .subs_list li::before {
    color: #fff;
}
.subscription__card:hover .subs_list {
    color: #fff;
}
.subs_line {
    width: 100%;
    height: 1px;
    border: 1px dashed #a9a9aa;
    margin-bottom: 65px;
}
.subs_price {
    margin-bottom: 24px;
}
.subs_price strong {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #161616;
}
.subs_price small {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: #161616;
}
.subscription__card:hover .subs_price strong {
    color: #fff;
}
.subscription__card:hover .subs_price small {
    color: #fff;
}

/* FOOTER */

.footer {
    padding: 50px 10px;
    background: #656293;
}
.footer_logo {
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}
.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_menu {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.footer_menu a {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}
.footer_copy {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}